@{
    ViewBag.Title = "About";
}
<div style="margin-left:10px;">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
   

    <p style="font-family:'Book Antiqua'; font-style: italic; font-weight:600;">
        As the country’s leading national news brand, Power News boasts unparalleled national and global news and business journalism.

        Power News’ purpose remains the same as it has been since its launch in 1964. Power News' aim is to lead the independent thinking,
        essential for the further advancement of our country and the Australian business environment.

        Power News is a news and business brand that puts the success of Australia at the heart of its editorial positioning.
        Offering a large and desirable audience across all platforms of print, digital, mobile, tablet and NIMs.

        A brand globally recognised as a leader in media innovation. Power News caters to the needs of an influential and educated audience.
        It breaks stories, challenges governments and links the complex web of events and impacts across the country every day. </pstyle="font-family:'Book>


    <p style="font-family:'Book Antiqua'; font-style: italic; font-weight:600; ">
        At Power News we seek to help improve the communities we serve across the country.

        We work every day to report on what matters to our readers, argue in favour of initiatives that build stronger, safer and better communities and tell stories that inspire Australians.
        In short, we inform, advocate and inspire to help build a better Australia.

        Our News in the Community report outlines what we aim to achieve with our editorial and community initiatives, and tells some of the stories of our work across Australia.
    </p>
</div>

<br />


<div class="jumbotron">
    <h4 style="font-family:'Times New Roman', Times, serif; font-weight:bold; "> <u> FAQs </u></h4>
    <p style="font-size: small">
      <ol style="font-size: small">
          <li>
              What to do if you get a Pop-up message?
              <br />
              <ul style="list-style-type:square">
                  <li>
                      The Power News uses Pop-Up Surveys across powernews.co.au to gather user feedback. 
                      Usually, a message will appear on a web page advising, 
                      ‘Do you have a few minutes to tell us what you think of this site?' 
                      and you can select either yes or no. 
                      These surveys help us to improve our services and 
                      we really value users taking the time to complete one.
                  </li>
              </ul>

          </li>
          <li>
              What is the Power News app for mobile devices?
              <br />
              <ul style="list-style-type:square">
                  <li>
                      The Power News app brings together Power News' expert coverage 
                      to deliver news,
                       live scores, stats, commentary and analysis on-the-go.
                  </li>
              </ul>
          </li>
          <li>
              Where can I get help with podcasts?
              <br />
              <ul style="list-style-type:square">
                  <li>
                      If you have a question or need help with podcasts 
                      visit the PowerNews iPlayer Radio Help Site.
                  </li>
              </ul>
          </li>
          <li>
              How can I catch up on a programme I missed?
              <br />
              <ul style="list-style-type:square">
                  <li> You can catch up with programmes on PowerNews iPlayer.
                  There are two ways to use this service.
                  You can play a programme and watch it online with ‘Click to play',
                  or you can download the programme,
                  store it on your computer for up to 30 days and watch it offline.</li>
                  </ul>
</li>
      </ol>
        
        
       
       
    </p>
</div>