
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">@ViewBag.Title</h2>
<h4 style="text-align:center">@ViewBag.Message</h4>

<p style="font-family:'Comic Sans MS'; font-style: italic; text-align:center; font-size:medium">
    <strong>
        Name:
    </strong>  Srushti Ruparel<br />
    <strong>
        ID:
    </strong> 28018567<br />
    <strong>
        Unit Name:
    </strong>Internet Applications Development <br />
    <strong>
        Unit Provider:
    </strong>Monash University, The Caulfield School of Information Technology <br />
    <strong>Tutor Name: </strong>Chandresh Viradia <br />
</p>

<address style="text-align:center">
    <strong>Email:</strong>   <a href="mailto:sprup1@student.monash.edu">sprup1@student.monash.edu</a><br />
    <strong>Moodle Task Link:</strong>   <a href="http://moodle.vle.monash.edu/mod/page/view.php?id=4383448">Click Here</a>
</address>