@{
    ViewBag.Title = "Home Page";
}



<div class="header">
    <img src="~/Images/banner1.jpg" alt="logo" style="height:190px;
    width:800px;
    border-width:150px;
    margin-top:5px;
    margin-left:150px;
    position:center;" /><br /> <br />
    <h2 style="margin-left:400px; position:center;">Welcome to Power News</h2>
</div>
<p class="lead" style="margin-left:280px">  Fastest way to stay updated - Runs for the World, by the World</p>
<ng-view>
    We are the biggest and faster news channel in the world which uses the medium of broadcasting to share various news events and other information via television, radio or internet in the field of broadcast journalism.
    The content is usually either produced locally in a radio studio or television studio newsroom, or by a broadcast network.
    It may also include additional material such as sports coverage, weather forecasts, traffic reports, commentary and other material that the broadcaster feels is relevant to their audience.
</ng-view>



