
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotronSpl">

    <h4 style="text-align:center; font-family: 'Comic Sans MS';"> <strong>Yearly Increase in Articles </strong></h4>
    <img src="@Url.Action("Graph")" alt="=" Chart" />

</div>